/config.guess
/config.sub
/configure
/missing
/ltmain.sh
/libtool
/install-sh
/depcomp
/compile
/test-driver
Makefile.in
Makefile
build/
autom4te.cache/
tests/.deps/
.DS_Store
*.m4
iRRAM_VERSION
config.log
config.status
configure~
examples/Makefile-pre
